# Python Insights - Analisando Dados com Python

### Case - Cancelamento de Clientes

Você foi contratado por uma empresa com mais de 800 mil clientes para um projeto de Dados. Recentemente a empresa percebeu que da sua base total de clientes, a maioria são clientes inativos, ou seja, que já cancelaram o serviço.

Precisando melhorar seus resultados ela quer conseguir entender os principais motivos desses cancelamentos e quais as ações mais eficientes para reduzir esse número.

Base de dados e arquivos: https://drive.google.com/drive/folders/1uDesZePdkhiraJmiyeZ-w5tfc8XsNYFZ?usp=drive_link

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
table = pd.read_csv('cancelamentos.csv')
table.head()

        CustomerID  idade  ... meses_ultima_interacao  cancelou
0              2.0   30.0  ...                   17.0       1.0
1              3.0   65.0  ...                    6.0       1.0
2              4.0   55.0  ...                    3.0       1.0
3              5.0   58.0  ...                   29.0       1.0
4              6.0   23.0  ...                   20.0       1.0
...            ...    ...  ...                    ...       ...
881661    449995.0   42.0  ...                    8.0       0.0
881662    449996.0   25.0  ...                    2.0       0.0
881663    449997.0   26.0  ...                    9.0       0.0
881664    449998.0   28.0  ...                    2.0       0.0
881665    449999.0   31.0  ...                   21.0       0.0

[881666 rows x 12 columns]

In [ ]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CustomerID              881664 non-null  float64
 1   idade                   881664 non-null  float64
 2   sexo                    881664 non-null  object
 3   tempo_como_cliente      881663 non-null  float64
 4   frequencia_uso          881663 non-null  float64
 5   ligacoes_callcenter     881664 non-null  float64
 6   dias_atraso             881664 non-null  float64
 7   assinatura              881661 non-null  object
 8   duracao_contrato        881663 non-null  object
 9   total_gasto             881664 non-null  float64
 10  meses_ultima_interacao  881664 non-null  float64
 11  cancelou                881664 non-null  float64
dtypes: float64(9), object(3)
memory usage: 80.7+ MB

In [ ]:
table.describe()

          CustomerID          idade  ...  meses_ultima_interacao       cancelou
count  881664.000000  881664.000000  ...           881664.000000  881664.000000
mean   225398.667955      39.373153  ...               14.480868       0.567107
std    129531.845091      12.442362  ...                8.596203       0.495476
min         2.000000      18.000000  ...                1.000000       0.000000
25%    113621.750000      29.000000  ...                7.000000       0.000000
50%    226125.500000      39.000000  ...               14.000000       1.000000
75%    337739.250000      48.000000  ...               22.000000       1.000000
max    449999.000000      65.000000  ...               30.000000       1.000000

[8 rows x 9 columns]

In [ ]:
sns.barplot(data=table, x='idade', y='cancelou')

Axes(0.125,0.11;0.775x0.77)

In [ ]:
numeric_cols = table.select_dtypes(include=np.number).columns.to_list()
numeric_cols

Traceback (most recent call last):
  File "c:\Users\bruno\.vscode\extensions\ms-python.python-2024.22.2-win32-x64\python_files\python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
NameError: name 'np' is not defined

In [ ]:
table[numeric_cols]

        CustomerID  idade  ...  meses_ultima_interacao  cancelou
0              2.0   30.0  ...                    17.0       1.0
1              3.0   65.0  ...                     6.0       1.0
2              4.0   55.0  ...                     3.0       1.0
3              5.0   58.0  ...                    29.0       1.0
4              6.0   23.0  ...                    20.0       1.0
...            ...    ...  ...                     ...       ...
881661    449995.0   42.0  ...                     8.0       0.0
881662    449996.0   25.0  ...                     2.0       0.0
881663    449997.0   26.0  ...                     9.0       0.0
881664    449998.0   28.0  ...                     2.0       0.0
881665    449999.0   31.0  ...                    21.0       0.0

[881666 rows x 9 columns]

In [ ]:
table.groupby(['idade'])['total_gasto'].mean()

idade
18.0    612.779431
19.0    619.518141
20.0    637.542254
21.0    633.045322
22.0    641.792459
23.0    636.765174
24.0    637.054581
25.0    639.501593
26.0    639.761727
27.0    639.676144
28.0    636.182456
29.0    638.073187
30.0    649.119965
31.0    648.288341
32.0    646.692437
33.0    651.835844
34.0    650.362484
35.0    652.348385
36.0    649.666792
37.0    648.979156
38.0    648.423079
39.0    649.567558
40.0    663.873108
41.0    661.081666
42.0    662.206683
43.0    662.320825
44.0    663.205812
45.0    662.636851
46.0    659.105353
47.0    658.862240
48.0    664.631511
49.0    665.924971
50.0    669.317376
51.0    555.549483
52.0    548.544450
53.0    551.710637
54.0    557.605130
55.0    544.420122
56.0    546.242686
57.0    546.510576
58.0    554.122332
59.0    547.013994
60.0    550.689002
61.0    548.628792
62.0    546.704720
63.0    551.959761
64.0    549.002455
65.0    556.057163
Name: total_gasto, dtype: float64